<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="~{adm/layout :: layout(~{::.page-content}, 'Administrative Module')}">
<head>
    <title>This will be replaced</title>
</head>
<body>
<div class="page-content">
    <h1>Administrative Module</h1>
    <p>Welcome to the administrative module. Here you can manage system settings.</p>
    <ul>
        <li><a th:href="@{/adm/roles}">Manage Roles</a></li>
        <li><a th:href="@{/adm/users}">Manage Users</a></li>
        <li><a href="#">Manage Access</a></li>
    </ul>
</div>
</body>
</html>